<div class="nav-wrapper animated">
  <div class="w clearfix">
    <div class="left">
      <a href="./index.html">
        <img class="logo" src="../../assets/img/logo2.png" alt="">
      </a>
    </div>
    <div class="right">
      <ul class="site-nav">
        <li class="item">
          <a class="link active" href="./index.html">首页</a>
        </li>
        <li class="item">
          <a class="link" href="./engineer-index.html">工程师入驻</a>
        </li>
        <li class="item">
          <a class="link" href="./factory-index.html">原厂合作</a>
        </li>
      </ul>
      <ul class="site-sign">
        <li class="item login">
          <a class="btn" href="./login.html">登录</a>
        </li>
        <li class="item register">
          <a class="btn" href="./register.html">注册</a>
        </li>
      </ul>
    </div>
  </div>
</div>